---
import type { Post } from '../models/Post';
import { formatDate } from '../utils/formatDate';
import {urlForImage} from "../utils/imageBuilder"

interface Props {
  text: 'right' | 'bottom';
  article: Post;
}

const { slug, title, imageUrl, _createdAt: createdAt } = Astro.props.article;

let image = urlForImage(imageUrl?.asset?._ref).width(500).height(300).url()

const image320 = imageUrl ? urlForImage(imageUrl?.asset?._ref).width(320).url() : image;
const image640 = imageUrl ? urlForImage(imageUrl?.asset?._ref).width(640).url() : image;
const image1024 = imageUrl ? urlForImage(imageUrl?.asset?._ref).width(1024).url() : image;
---
<a
    href={`/posts/${slug.current}`}
    class={`mx-auto md:mx-0 rounded-sm group w-full sm:max-w-[600px] lg:max-w-[900px] xl:max-w-full hover:text-primary-green flex ${Astro.props.text === 'bottom' ? 'flex-col' : 'flex-row'} gap-2 article-card first:col-span-2 first:row-span-2 md:first:max-w-full first:h-full`}
>
        <div class="w-full h-[200px] sm:h-[150px] overflow-hidden rounded-sm relative">
            <div class="opacity-0 transition-opacity duration-300 bg-dark group-hover:opacity-25 absolute inset-0" />
            <img
                src={image640}
                srcset={`${image320} 320w, ${image640} 640w, ${image1024} 1024w`}
                sizes="(max-width: 320px) 280px, (max-width: 640px) 600px, (max-width: 1024px) 900px, 100vw"
                alt={`${title}`}
                class="w-full h-full object-cover object-top"
            />
        </div>
        <div class='flex flex-col p-1 gap-2'>
        <div class='flex flex-col gap-1 w-56'>
            <span class='text-sm text-slate-500'>{formatDate(createdAt)}</span>
            <h3 class='text-lg'>{title}</h3>
        </div>
</a>
<style>
    .article-card:first-child > div:first-child {
        height: 385px;
    }

    @media (max-width: 768px) {
        .article-card:first-child > div:first-child {
            height: 150px;
        }
    }
</style>